* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #333333;
}

#hovereffect {
  opacity: 0;
}

p {
  color: blanchedalmond;

  margin-top: 20px;
  font-size: 20px;
  font-family: monospace;
}
span {
  color: #ff9639;
}
