* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}
#outerline {
  animation: line 1s ease-in-out infinite alternate;
}
@keyframes line {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(208px, 0px);
  }
}
